@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700");
body {
  margin: 0;
  font-family: "Open Sans", sans-serif; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (max-width: 1170px) {
    .container {
      width: 100%; } }

p {
  margin: 0; }

a {
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
  text-decoration: none;
  outline: none; }
  a:hover {
    text-decoration: none; }

div.center-block {
  float: none; }

.mask-circle {
  position: relative;
  height: 175px;
  margin-top: 10px; }
  .mask-circle:before {
    content: '';
    background-image: url("../../images/mask-circle.png");
    width: 172px;
    height: 172px;
    position: absolute;
    top: -9px;
    left: -9px; }
  .mask-circle-img {
    height: 154px;
    width: 154px;
    overflow: hidden;
    border-radius: 100%; }

section {
  margin-top: 20px; }

.mt-150 {
  margin-top: 150px; }

.pagination {
  padding-bottom: 36px; }

.pagination > li > a {
  color: #1B1B1B;
  font-size: 14px;
  border-color: #DDDDDD; }

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background: #34A7DF;
  color: #FFFFFF;
  border-color: #DDDDDD; }

.header__logo {
  display: inline-block;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  .header__logo:hover {
    opacity: .75; }

.navbar {
  background-color: #1C1C1C;
  padding: 38px 0 20px;
  margin-bottom: 10px;
  border-radius: 0; }
  .navbar::before {
    content: '';
    position: absolute;
    top: -5px;
    border-top: 1px solid #000000;
    width: 100%; }
  .navbar__item {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    width: 10%;
    font-size: 16px;
    position: relative;
    line-height: 1.2;
    font-family: "Open Sans", sans-serif; }
    @media (max-width: 768px) {
      .navbar__item {
        display: block;
        width: 100%;
        padding: 15px;
        border-bottom: 1px solid #353535; } }
    .navbar__item a {
      color: #ffffff;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
      .navbar__item a:hover {
        color: #FFDC00; }
  .navbar__item--active a {
    color: #FFDC00; }

.navbar-fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 90; }

.navbar-active, .navbar__item a:hover:before, .navbar__item--active a:before {
  content: '';
  background-image: url("../../images/icon-heart-nav.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 26px;
  height: 16px;
  display: block;
  position: absolute;
  top: -22px;
  left: 50%;
  margin-left: calc(-26px / 2); }

.social {
  background-image: url("../../images/bg-social.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 756px;
  padding-top: 95px; }
  @media (max-width: 991px) {
    .social {
      background: #f9c21d;
      height: auto; } }
  .social__square {
    border: 1px solid #ffffff;
    height: 274px;
    margin-bottom: 30px;
    position: relative;
    display: block;
    color: #ffffff; }
    .social__square span {
      font-size: 30px;
      letter-spacing: 1;
      position: absolute;
      left: 40px;
      bottom: 29px; }
    .social__square:hover {
      background: #ffffff;
      color: #1C1C1C; }
    .social__square--full {
      border: 1px solid #ffffff;
      height: 576px;
      position: relative;
      display: block;
      color: #ffffff; }
      .social__square--full span {
        font-size: 30px;
        letter-spacing: 1;
        position: absolute;
        left: 40px;
        bottom: 29px; }
      .social__square--full:hover {
        background: #ffffff;
        color: #1C1C1C; }

.footer {
  background-color: #1C1C1C;
  padding-top: 80px;
  padding-bottom: 20px; }
  .footer__logo {
    display: inline-block;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    .footer__logo:hover {
      opacity: .75; }
  .footer__copyright {
    margin-top: 70px; }

.button {
  border: none;
  background: none;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%); }
  .button:hover, .button:focus, .button:active {
    -webkit-filter: grayscale(0);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
    outline: none;
    border: none; }
  .button--next {
    position: absolute;
    left: 22%;
    top: 50%; }
    .button--next::before {
      content: '';
      background-image: url("../../images/arrow-slider.png");
      background-repeat: no-repeat;
      background-position: center;
      height: 40px;
      width: 23px;
      position: absolute;
      transform: rotate(-180deg); }
  .button--previous {
    position: absolute;
    right: 11%;
    top: 50%; }
    .button--previous::before {
      content: '';
      background-image: url("../../images/arrow-slider.png");
      background-repeat: no-repeat;
      background-position: center;
      height: 40px;
      width: 23px;
      position: absolute; }
  .button--primary, .button--send {
    display: inline-block;
    color: #34A7DF;
    padding: 12px 35px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #34A7DF;
    text-transform: uppercase;
    outline: none;
    max-width: 100%;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    min-height: 50px;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .button--primary:hover, .button--send:hover {
      color: #fff;
      background-color: #34A7DF; }

.title {
  letter-spacing: 3px;
  font-size: 28px;
  color: #1B1B1B;
  background-color: #ffffff;
  position: relative;
  display: inline-block;
  padding: 0 5%;
  font-weight: 400;
  margin-bottom: 40px;
  text-transform: uppercase;
  margin-top: 0; }
  .title.noupper {
    text-transform: unset !important;
    background: transparent; }
    .title.noupper:after {
      content: '';
      display: block;
      position: absolute;
      width: 44px;
      height: 1px;
      background-color: #1B1B1B;
      bottom: 13px;
      right: -20px;
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
    .title.noupper:before {
      content: '';
      display: block;
      position: absolute;
      width: 44px;
      height: 1px;
      background-color: #1B1B1B;
      bottom: 13px;
      left: 30px;
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
    .title.noupper.blog-title:before {
      left: -10px; }
    .title.noupper.blog-title:after {
      right: -50px; }
  .title::before {
    content: '';
    position: absolute;
    z-index: -1;
    display: block;
    width: 137%;
    height: 1px;
    background-color: #000000;
    bottom: 13px;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  .title--white {
    background-color: #34A7DF;
    color: #ffffff; }
    .title--white::before {
      width: 440px;
      background-color: #ffffff; }
  .title--single {
    font-size: 34px;
    margin-top: 55px;
    margin-bottom: 45px; }
    .title--single:before {
      width: 670px; }

.title-alt {
  letter-spacing: 3px;
  font-size: 28px;
  color: #ffffff;
  position: relative;
  display: inline-block;
  padding: 0 5%;
  font-weight: 400;
  margin-bottom: 40px;
  text-transform: uppercase;
  margin-top: 0; }
  .title-alt:after {
    content: '';
    display: block;
    position: absolute;
    width: 44px;
    height: 1px;
    background-color: #ffffff;
    bottom: 13px;
    right: -60px;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  .title-alt:before {
    content: '';
    display: block;
    position: absolute;
    width: 44px;
    height: 1px;
    background-color: #ffffff;
    bottom: 13px;
    left: -20px;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }

.page-title__title {
  margin-top: 50px; }

.contact-form {
  padding-bottom: 55px;
  padding-top: 85px; }
  .contact-form__title {
    display: block;
    font-size: 30px;
    font-weight: 300;
    line-height: 37px;
    margin-bottom: 45px;
    font-family: "Open Sans", sans-serif;
    color: #191919; }
  .contact-form__description {
    font-size: 16px;
    line-height: 1.75;
    color: #666666; }

.icon-arrow-top {
  background-image: url("../../images/icon-arrow.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 40px;
  height: 21px;
  display: inline-block;
  margin-bottom: 40px; }
.icon-arrow-bottom {
  background-image: url("../../images/icon-arrow.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 40px;
  height: 21px;
  display: inline-block;
  margin-top: 40px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }
.icon-heart-light {
  background-image: url("../../images/icon-heart-light.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 17px;
  height: 16px;
  display: inline-block;
  top: 2px;
  position: relative; }
.icon-google {
  background-image: url("../../images/icon-google.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 44px;
  height: 42px; }
.icon-twitter {
  background-image: url("../../images/icon-twitter.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 52px;
  height: 42px; }
.icon-youtube {
  background-image: url("../../images/icon-youtube.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 60;
  height: 42px; }
.icon-instagram {
  background-image: url("../../images/icon-instagram.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 42px;
  height: 42px; }
.icon-facebook {
  background-image: url("../../images/icon-facebook.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 25px;
  height: 42px;
  display: block;
  position: relative;
  margin: 0 auto;
  top: 235px; }
.icon-tel {
  background-image: url("../../images/icon-tel.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  margin: 0 auto; }
.icon-email {
  background-image: url("../../images/icon-email.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 18px;
  height: 13px;
  margin: 0 auto; }
.icon-tag {
  background-image: url("../../images/icon-tag.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 12px;
  height: 16px;
  display: inline-block;
  position: relative;
  top: 2px; }
.icon-calendar {
  background-image: url("../../images/icon-calendar.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  top: 2px; }
.icon-comments {
  background-image: url("../../images/icon-comments.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 21px;
  height: 16px;
  display: inline-block;
  position: relative;
  top: 2px; }
.icon-email-newsletter {
  background-image: url("../../images/icon-email-newsletter.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 20px;
  height: 14px;
  display: inline-block;
  position: absolute;
  top: 17px;
  right: 42.3%; }
  @media (max-width: 991px) {
    .icon-email-newsletter {
      right: 15px; } }

.icon-align, .icon-google, .icon-twitter, .icon-youtube, .icon-instagram {
  display: block;
  position: relative;
  margin: 0 auto;
  top: 85px; }

.social__links li {
  margin-right: 30px; }
  .social__links li:last-child {
    margin-right: 0; }
.social__links i {
  position: inherit;
  background-size: 50%; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea,
select {
  padding: 0 10px;
  outline: none;
  width: 100%;
  height: 44px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  input[type="text"]:hover, input[type="text"]:focus,
  input[type="password"]:hover,
  input[type="password"]:focus,
  input[type="email"]:hover,
  input[type="email"]:focus,
  input[type="number"]:hover,
  input[type="number"]:focus,
  textarea:hover,
  textarea:focus,
  select:hover,
  select:focus {
    border-color: #34A7DF; }

input[type="submit"] {
  width: 143px; }

textarea {
  padding: 10px;
  resize: none; }

label {
  width: 100%;
  display: block; }

.breadcrumbs {
  padding: 12px;
  color: #666666;
  border-width: 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: #CCCCCC;
  border-style: solid; }
  .breadcrumbs a {
    color: #33A5DF; }
  .breadcrumbs ul {
    margin-bottom: 0; }
  .breadcrumbs li {
    font-size: 16px;
    display: inline-block; }
    .breadcrumbs li:not(:last-child):after {
      content: "/";
      margin: 0 5px;
      color: #33A5DF; }

.principal-events {
  padding: 80px 0; }
  .principal-events .events-type__label {
    float: left;
    font-size: 18px;
    font-weight: 300;
    margin-right: 15px;
    text-transform: uppercase; }
  .principal-events .events-type__itemlist {
    float: left;
    font-size: 16px;
    font-weight: 600;
    margin-right: 15px;
    margin-bottom: 40px;
    text-transform: uppercase;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .principal-events .events-type__itemlist a {
      color: #999999;
      padding: 10px 30px;
      border: 1px solid transparent; }
      .principal-events .events-type__itemlist a:hover {
        border-color: #34A7DF;
        color: #34A7DF; }
    .principal-events .events-type__itemlist--active a {
      color: #34A7DF;
      border-color: #34A7DF; }
  .principal-events .event__description {
    margin-top: 70px; }
    .principal-events .event__description .event-description__image {
      float: left;
      margin-right: 2.5%; }
    .principal-events .event__description .event-description__title {
      font-size: 30px;
      font-weight: 300;
      line-height: 36px;
      margin: 0 0 65px;
      color: #191919; }
    .principal-events .event__description .event-description__description {
      font-size: 16px;
      line-height: 1.7;
      color: #666666; }
  .principal-events .event__featured-types {
    margin-top: 75px; }
    .principal-events .event__featured-types .event-featured-types__block {
      padding: 30px 35px;
      border: 1px solid #1C1C1C;
      font-family: "Open Sans", sans-serif; }
      .principal-events .event__featured-types .event-featured-types__block.block-1 .event-featured__title {
        width: 55%; }
      .principal-events .event__featured-types .event-featured-types__block .event-featured__title {
        font-size: 25px;
        font-weight: 300;
        text-align: center;
        margin: 0 auto 45px;
        font-family: "Open Sans", sans-serif; }
      .principal-events .event__featured-types .event-featured-types__block .event-featured__subtitle {
        font-size: 16px;
        line-height: 1.8;
        text-align: center; }

.events {
  margin-top: 50px; }
  .events__text {
    font-size: 16px;
    color: #666666;
    text-align: center;
    padding: 0 65px;
    margin-bottom: 60px; }
  .events__box {
    position: relative;
    margin: 30px 0; }
  .events__banners {
    background-image: url("../../images/bg-events.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 736px; }
    .events__banners-item {
      width: 100%;
      height: 274px;
      border: 10px solid transparent;
      box-shadow: inset 0 0 0 1px #ffffff;
      display: inline-block;
      background-position: center center;
      background-repeat: no-repeat; }
      .events__banners-item span {
        font-size: 27px;
        color: #ffffff;
        position: absolute;
        bottom: 20px;
        left: 40px;
        width: 50%; }
      .events__banners-item:hover {
        box-shadow: inset 0 0 0 4px #ffffff; }
      .events__banners-item--corporativo {
        background-image: url("../../images/bg-events-corporativo.jpg"); }
    .events__banners-text {
      border: 1px solid #1C1C1C;
      display: inline-block;
      text-align: center;
      padding: 40px 0; }
      .events__banners-text:hover {
        background-color: #286090; }
      .events__banners-text:hover h2, .events__banners-text:hover p {
        color: #fff; }
      .events__banners-text h2 {
        font-size: 25px;
        color: #1A1A1A;
        margin-top: 0;
        margin-bottom: 25px; }
      .events__banners-text p {
        font-size: 16px;
        color: #666666;
        line-height: 2; }

.testimony {
  background-color: #34A7DF;
  padding: 80px 0;
  position: relative;
  z-index: -2; }
  .testimony::before {
    content: '';
    position: absolute;
    top: -5px;
    border-top: 1px solid #CCCCCC;
    width: 100%; }
  .testimony__name {
    color: #ffffff;
    display: inline-block; }
    .testimony__name h2 {
      font-size: 22px; }
    .testimony__name span {
      font-size: 16px;
      margin-left: 50px; }
  .testimony__image {
    display: inline-block; }
  .testimony__text {
    display: inline-block;
    float: right;
    margin-top: 30px;
    width: 50%; }
    .testimony__text p {
      font-size: 16px;
      color: #fff; }

.newsletter {
  background-image: url("../../images/bg-newsletter.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 535px;
  padding-top: 95px; }
  .newsletter__form {
    margin-top: 100px;
    position: relative; }
    .newsletter__form label {
      display: inline-block; }
    .newsletter__form input {
      width: 670px;
      background: none;
      box-shadow: none;
      border: 1px solid #ffffff;
      color: #ffffff;
      height: 45px;
      padding-left: 10px;
      line-height: 45px;
      margin-right: 30px; }
      @media (max-width: 991px) {
        .newsletter__form input {
          width: 100%; } }
      .newsletter__form input::placeholder {
        color: #ffffff;
        opacity: 1; }
      .newsletter__form input:-ms-input-placeholder {
        color: #ffffff; }
      .newsletter__form input::-ms-input-placeholder {
        color: #ffffff; }
      .newsletter__form input:hover, .newsletter__form input:focus {
        border-color: #fff;
        border-left: 5px solid #fff; }
    .newsletter__form button {
      width: 270px;
      height: 45px;
      background-color: #ffffff;
      box-shadow: none;
      border: 1px solid transparent;
      font-size: 16px;
      letter-spacing: 1;
      text-transform: uppercase;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
      @media (max-width: 991px) {
        .newsletter__form button {
          width: 100%; } }
      .newsletter__form button:hover {
        color: #fff;
        border-color: #fff;
        background-color: transparent; }

.blog {
  padding-top: 120px;
  padding-bottom: 50px; }
  .blog__title {
    color: #000;
    font-size: 27px;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    @media (max-width: 768px) {
      .blog__title {
        text-align: center;
        margin-bottom: 20px; } }
    .blog__title:hover {
      color: #34A7DF; }
  .blog__wrapper {
    display: block;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .blog__wrapper:hover {
      opacity: .8; }
  .blog__link {
    text-transform: uppercase;
    color: #34A7DF;
    border: 1px solid #34A7DF;
    display: block;
    text-align: center;
    padding: 15px 0;
    margin-top: 90px; }
    .blog__link:hover {
      background-color: #34A7DF;
      color: #ffffff; }

.map-area {
  margin: 45px 0 55px; }

.contact {
  padding-bottom: 250px; }
  .contact input, .contact textarea {
    font-weight: 400; }
  .contact label.required {
    position: relative; }
    .contact label.required:after {
      content: ' ';
      background: url("../../images/icon-asterisco.png") no-repeat;
      display: block;
      position: absolute;
      height: 13px;
      width: 12px;
      top: -4px;
      right: -5px; }
  .contact__select {
    border-top: 1px solid #CCCCCC;
    padding-top: 20px;
    margin-bottom: 30px;
    margin-top: 20px; }
    .contact__select p {
      font-size: 18px;
      color: #191919;
      display: inline-block;
      margin-right: 95px; }
    .contact__select label {
      display: inline-block;
      width: auto; }
      .contact__select label input {
        margin-right: 10px; }
      .contact__select label:last-child {
        margin-left: 25px; }
  .contact__form {
    margin-top: 35px; }
    .contact__form textarea {
      height: 195px; }
  .contact__description {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 35px; }
  .contact__links {
    margin-bottom: 22px; }
    .contact__links li {
      margin-bottom: 15px; }
    .contact__links a {
      display: block;
      font-size: 16px;
      color: #33A6DF; }
    .contact__links i {
      margin-right: 30px;
      display: inline-block; }
  .contact .social__links {
    padding-top: 15px;
    border-top: 1px solid #CCCCCC; }
    .contact .social__links li {
      display: inline-block; }

.blog-page {
  margin-top: 50px; }
  .blog-page .blog__post-featured {
    margin-bottom: 75px; }
    .blog-page .blog__post-featured .blog__title {
      color: #000;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: 3px; }
    .blog-page .blog__post-featured .blog__thumbnail {
      margin: 50px 0 25px; }
    .blog-page .blog__post-featured .blog__excerpt {
      font-size: 16px;
      line-height: 30px; }
      .blog-page .blog__post-featured .blog__excerpt p {
        margin-bottom: 50px; }
    .blog-page .blog__post-featured .blog__read-more {
      margin-top: 28px; }
  .blog-page .blog__more-comments .blog__title {
    color: #000;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 3px;
    width: 58%;
    display: inline-block;
    float: right;
    margin-top: 60px; }
    .blog-page .blog__more-comments .blog__title a {
      margin-top: 20px;
      width: 100%; }
  .blog-page .blog__more-comments .blog__thumbnail {
    display: inline-block;
    margin-right: 30px;
    margin-top: 60px;
    width: 33%; }
  .blog-page .blog__more-comments .blog__read-more {
    width: 100%; }
  .blog-page .blog__post-info {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #CCCCCC;
    padding: 15px 0;
    margin-bottom: 90px; }
    .blog-page .blog__post-info p {
      display: inline-block;
      font-size: 16px; }
      .blog-page .blog__post-info p:last-child {
        float: right; }
      .blog-page .blog__post-info p:first-child {
        margin-right: 20px; }
      .blog-page .blog__post-info p a {
        color: #33A6DF; }
  .blog-page .blog__post-related figure {
    float: left;
    display: inline-block;
    margin-right: 25px; }
  .blog-page .blog__post-related h2 {
    font-size: 18px; }
  .blog-page .blog__post-comments {
    margin-top: 90px; }
  .blog-page .blog__post-category li {
    margin-bottom: 40px; }
    .blog-page .blog__post-category li a {
      font-size: 16px;
      color: #191919; }

.gallery__box {
  border: 1px solid #CCCCCC;
  margin-bottom: 30px; }
  .gallery__box p {
    padding: 30px; }
  .gallery__box a {
    margin-left: 30px;
    margin-bottom: 30px; }

/*# sourceMappingURL=style.css.map */
