// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700');

body { 
    margin: 0;
    font-family: $secondaryFont;
} 

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (max-width: 1170px) {
        width: 100%;
        //padding: 0;
        //margin: 0;
    }
}

p { margin: 0 }

a {
    @include transition(all, .5s);
    text-decoration: none;
    outline: none;
    &:hover {
        text-decoration: none;
    }
}

div.center-block { float: none; }

.mask-circle {
    position: relative;
    height: 175px;
    margin-top: 10px;
    
    &:before {
        content: '';
        background-image: url('../../images/mask-circle.png');
        width: 172px;
        height: 172px;
        position: absolute;
        top: -9px;
        left: -9px;
    }

    &-img {
        height: 154px;
        width: 154px;
        overflow: hidden;
        border-radius: 100%;
    }
}

section {
    margin-top: 20px;
}

.mt-150 {
    margin-top: 150px;
}


.pagination {
    padding-bottom: 36px;
}
.pagination>li>a {
    color: #1B1B1B;
    font-size:14px;
    border-color: #DDDDDD;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background: #34A7DF;
    color: #FFFFFF;
    border-color: #DDDDDD;
    
}