$primaryFont: 'Lato', sans-serif;
$secondaryFont: 'Open Sans', sans-serif;

$primaryColor: #3E433E;
$secondaryColor: #808080;


$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 480px;
$screen-alt: 320px;