.blog-page {
    margin-top: 50px;

    .blog {
        &__post-featured {
            margin-bottom: 75px;

            .blog {
                &__title {
                    color: #000;
                    font-weight: 300;
                    line-height: 30px;
                    letter-spacing: 3px;
                }

                &__thumbnail {
                    margin: 50px 0 25px;
                }

                &__excerpt {
                    font-size: 16px;
                    line-height: 30px;
                    
                    p {
                        margin-bottom: 50px;
                    }
                }

                &__read-more {
                    margin-top: 28px;
                }
            }
        }

        &__more-comments {
            .blog {
                &__title {
                    color: #000;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 21px;
                    letter-spacing: 3px;
                    width: 58%;
                    display: inline-block;
                    float: right;
                    margin-top: 60px;

                    a {
                        margin-top: 20px;
                        width: 100%;
                    }
                }

                &__thumbnail {
                    display: inline-block;
                    margin-right: 30px;
                    margin-top: 60px;
                    width: 33%;
                }


                &__read-more {
                    width: 100%;
                }
            }
        }

        &__post-info {
            border-top: 1px solid;
            border-bottom: 1px solid;
            border-color: #CCCCCC;
            padding: 15px 0;
            margin-bottom: 90px;

            p {
                display: inline-block;
                font-size: 16px;

                &:last-child {
                    float: right;
                }

                &:first-child {
                    margin-right: 20px;
                }

                a {
                    color: #33A6DF;
                }
            }
        }

        &__post-related {
            figure {
                float: left;
                display: inline-block;
                margin-right: 25px;
            }

            h2 {
                font-size: 18px;
            }
        }

        &__post-comments {
            margin-top: 90px;
        }

        &__post-category {
            li {
                margin-bottom: 40px;
                a {
                    font-size: 16px; 
                    color: #191919;
                }
            }
        }
    }
}