.map-area{
    margin: 45px 0 55px;
}

.contact {

	padding-bottom: 250px;

	input,textarea {
		font-weight: 400;
	}

	label.required {
		position: relative;

		&:after {
			content: ' ';
			background: url('../../images/icon-asterisco.png') no-repeat;
			display: block;
			position: absolute;
			height: 13px;
			width: 12px;
			top: -4px;
			right: -5px;	
		}
	}

	&__select {
		border-top: 1px solid #CCCCCC;
		padding-top: 20px;
		margin-bottom: 30px;
		margin-top: 20px;

		p {
			font-size: 18px;
			color: #191919;
			display: inline-block;
			margin-right: 95px;
		}
		
		label {
			display: inline-block;
			width: auto;

			input {
				margin-right: 10px;
			}

			&:last-child {
				margin-left: 25px;
			}
		}
	}

	&__form {
	    margin-top: 35px;

	    textarea {
	    	height: 195px;
	    }
	}

	&__description {
		font-size: 16px;
    	line-height: 30px;
    	margin-bottom: 35px;
	}

	&__links {

		    margin-bottom: 22px;
		li {
			margin-bottom: 15px;
		}

		a {
			display: block;
			font-size: 16px;
			color: #33A6DF;
		}

		 i {
		 	margin-right: 30px;
		 	display: inline-block;
		 }
		 
	}

	.social__links {
		padding-top: 15px;
		border-top: 1px solid#CCCCCC;

		li {
			display: inline-block;
		}
	}
}