.gallery {
    &__box {
        border: 1px solid #CCCCCC;
        margin-bottom: 30px;

        p {
            padding: 30px;
        }

        a {
            margin-left: 30px;
            margin-bottom: 30px;
        }
    }

}