.events {
    margin-top: 50px;
    
    &__text {
        font-size: 16px;
        color: #666666;
        text-align: center;
        padding: 0 65px;
        margin-bottom: 60px;
    }

    &__box {
        position: relative;
        margin: 30px 0;
    }

    &__banners {
        background-image: url("../../images/bg-events.png");
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 736px;

        &-item {
            width: 100%;
            height: 274px;
            border: 10px solid transparent;
            box-shadow: inset 0 0 0 1px #ffffff;
            display: inline-block;
            background-position: center center;
            background-repeat: no-repeat;

            span {
                font-size: 27px;
                color: #ffffff;
                position: absolute;
                bottom: 20px;
                left: 40px;
                width: 50%;
            }

            &:hover {
                box-shadow: inset 0 0 0 4px #ffffff;
            }

            &--corporativo {
                background-image: url("../../images/bg-events-corporativo.jpg");
            }
        }

        &-text {
            border: 1px solid #1C1C1C;
            display: inline-block;
            text-align: center;
            padding: 40px 0;

            &:hover {
                background-color: #286090;
            }

            &:hover h2, &:hover p {
                color: #fff;
            }

            h2 {
                font-size: 25px;
                color: #1A1A1A;
                margin-top: 0;
                margin-bottom: 25px;
            }

            p {
                font-size: 16px;
                color: #666666;
                line-height: 2;
            }
        }
    }
}

.testimony {
    background-color: #34A7DF;
    padding: 80px 0;
    position: relative;
    z-index: -2;

    &::before {
        content: '';
        position: absolute;
        top: -5px;
        border-top: 1px solid #CCCCCC;
        width: 100%;
    }

    &__name {
        color: #ffffff;
        display: inline-block;

        h2 {
            font-size: 22px;
        }

        span {
            font-size: 16px;
            margin-left: 50px;
        }
    }

    &__image {
        display: inline-block;
    }

    &__text {
        display: inline-block;
        float: right;
        margin-top: 30px;
        width: 50%;

        p {
            font-size: 16px;
            color: #fff;
        }
    }
}

.newsletter {
    background-image: url("../../images/bg-newsletter.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 535px;
    padding-top: 95px;

    &__form {
        margin-top: 100px;
        position: relative;
        
        label {
            display: inline-block;
        }

        input {
            width: 670px;
            background: none;
            box-shadow: none;
            border: 1px solid #ffffff;
            color: #ffffff;
            height: 45px;
            padding-left: 10px;
            line-height: 45px;
            margin-right: 30px;

            @media (max-width: 991px) {
                width: 100%;
            }

            &::placeholder {
                color: #ffffff;
                opacity: 1;
            }

            &:-ms-input-placeholder {
                color: #ffffff;
            }

            &::-ms-input-placeholder {
                color: #ffffff;
            }

            &:hover,
            &:focus {
                border-color: #fff;
                border-left: 5px solid #fff;
                
            }
        }

        button {
            width: 270px;
            height: 45px;
            background-color: #ffffff;
            box-shadow: none;
            border: 1px solid transparent;
            font-size: 16px;
            letter-spacing: 1;
            text-transform: uppercase;

            @media (max-width: 991px) {
                width: 100%;
            }

            @include transition(all .5s);

            &:hover {
                color: #fff ;
                border-color: #fff;
                background-color: transparent;
                
            }
        }
    }
}

.blog {
    padding-top: 120px;
    padding-bottom: 50px;

    &__title {
        color: #000;
        font-size: 27px;
        @include transition(all .5s);

        @media (max-width: 768px) {
            text-align: center;
            margin-bottom: 20px;
        }
        
        &:hover {
            color: #34A7DF;
        }
    }

    &__wrapper {
        display: block;

        @include transition(all 0.5s);

        &:hover {
            opacity: .8;
        }
    }

    &__link {
        text-transform: uppercase;
        color: #34A7DF;
        border: 1px solid #34A7DF;
        display: block;
        text-align: center;
        padding: 15px 0;
        margin-top: 90px;

        &:hover {
            background-color: #34A7DF;
            color: #ffffff;
        }
    }
}