.breadcrumbs {
	padding: 12px;

	color: #666666;

	a {
		color: #33A5DF;
	}

	border: {
		width: 0;
		
		top: {
			width: 1px;
		}
		bottom: {
			width: 1px;
		}

		color: #CCCCCC;
		style: solid;
	}

	ul {
		margin-bottom: 0;
	}

	li {
		font-size: 16px;
		display: inline-block;

		&:not(:last-child){
			&:after {
				content: "/";
				margin: 0 5px;
				color: #33A5DF;
			}
		}
	}

}