.button {
    border: none;
    background: none;
    cursor: pointer;
    -webkit-filter: grayscale(100%);

    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

    &:hover, &:focus, &:active {
        -webkit-filter: grayscale(0);

        /* Safari 6.0 - 9.0 */
        filter: grayscale(0);
        outline: none;
        border: none;
    }

    &--next {
        position: absolute;
        left: 22%;
        top: 50%;

        &::before {
            content: '';
            background-image: url("../../images/arrow-slider.png");
            background-repeat: no-repeat;
            background-position: center;
            height: 40px;
            width: 23px;
            position: absolute;
            transform: rotate(-180deg);
        }
    }

    &--previous {
        position: absolute;
        right: 11%;
        top: 50%;

        &::before {
            content: '';
            background-image: url("../../images/arrow-slider.png");
            background-repeat: no-repeat;
            background-position: center;
            height: 40px;
            width: 23px;
            position: absolute;
        }
    }
    
    &--primary,
    &--send {
        display: inline-block;
        color: #34A7DF;
        padding: 12px 35px;
        text-align: center;
        background-color: transparent;
        border: 1px solid #34A7DF;
        text-transform: uppercase;
        outline: none;
        max-width: 100%;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
        min-height: 50px;
        
        @include transition(all .5s);
        &:hover {
            color: #fff;
            background-color: #34A7DF;
        }
    }
}