.contact-form {
    padding-bottom: 55px;
    padding-top: 85px;

    &__title {
        display: block;
        font-size: 30px;
        font-weight: 300;
        line-height: 37px;
        margin-bottom: 45px;
        font-family: $secondaryFont;
        color: #191919;
    }

    &__description {
        font-size: 16px;
        line-height: 1.75;
        color: #666666;
    }

    &__background {
    	
    }
}