.social {
    background-image: url("../../images/bg-social.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 756px;
    padding-top: 95px;

    @media (max-width: 991px) {
        background: #f9c21d;
        height: auto; 
    }

    &__square {
        border: 1px solid #ffffff;
        height: 274px;
        margin-bottom: 30px;
        position: relative;
        display: block;
        color: #ffffff;

        span {
            font-size: 30px;
            letter-spacing: 1;
            position: absolute;
            left: 40px;
            bottom: 29px;
        }

        &:hover {
            background: #ffffff;
            color: #1C1C1C;
        }

        &--full {
            border: 1px solid #ffffff;
            height: 576px;
            position: relative;
            display: block;
            color: #ffffff;

            span {
                font-size: 30px;
                letter-spacing: 1;
                position: absolute;
                left: 40px;
                bottom: 29px;
            }

            &:hover {
                background: #ffffff;
                color: #1C1C1C;
            }
        }
    }
}

.footer {
    background-color: #1C1C1C;
    padding-top: 80px;
    padding-bottom: 20px;

     &__logo {
        display: inline-block;

        @include transition(opacity 0.3s);

        &:hover {
            opacity: .75;
        }
    }

    &__copyright {
        margin-top: 70px;
    }
}
