input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea,
select {
    padding: 0 10px;
    outline: none;
    width: 100%;
    height: 44px;
    margin-bottom: 12px;
    border: 1px solid #ccc;

    @include transition(all 0.3s);

    &:hover,
    &:focus {
        border-color: #34A7DF;
    }
}

input[type="submit"] {
    width: 143px;
}

textarea {
    padding: 10px;
    resize: none;
}

label {
    width: 100%;
    display: block;
}
