.header {
    &__logo {
        display: inline-block;

        @include transition(opacity 0.3s);

        &:hover {
            opacity: .75;
        }
    }
}

.navbar {
    background-color: #1C1C1C;
    padding: 38px 0 20px;
    margin-bottom: 10px;
    border-radius: 0;

    &::before {
        content: '';
        position: absolute;
        top: -5px;
        border-top: 1px solid #000000;
        width: 100%;
    }

    &__item {
        list-style: none;
        display: inline-block;
        vertical-align: middle;
        width: 10%;
        font-size: 16px;
        position: relative;
        line-height: 1.2;
        font-family: $secondaryFont;

        @media (max-width: 768px) {
            display: block;
            width: 100%;
            padding: 15px;
            border-bottom: 1px solid #353535
        }

        a {
            color: #ffffff;

            @include transition(all 0.5s);

            &:hover {
                color: #FFDC00;

                &:before {
                    @extend .navbar-active;
                }
            }
        }
    }

    &__item--active {
        a {
            color: #FFDC00;

            &:before {
                @extend .navbar-active;
            }
        }
    }
}

.navbar-fixed {
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 90;
}

.navbar-active {
    content: '';
    background-image: url("../../images/icon-heart-nav.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 26px;
    height: 16px;
    display: block;
    position: absolute;
    top: -22px;
    left: 50%;
    margin-left: calc(-26px / 2);
}