.icon {
    &-arrow-top {
        background-image: url('../../images/icon-arrow.png');
        background-position: center center;
        background-repeat: no-repeat;
        width: 40px;
        height: 21px;
        display: inline-block;
        margin-bottom: 40px;
    }
    
    &-arrow-bottom {
        background-image: url('../../images/icon-arrow.png');
        background-position: center center;
        background-repeat: no-repeat;
        width: 40px;
        height: 21px;
        display: inline-block;
        margin-top: 40px;
        -webkit-transform: rotate(180deg);     
        -moz-transform: rotate(180deg);       
        -o-transform: rotate(180deg);        
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);  
    }

    &-heart-light {
        background-image: url('../../images/icon-heart-light.png');
        background-position: center center;
        background-repeat: no-repeat;
        width: 17px;
        height: 16px;
        display: inline-block;
        top: 2px;
        position: relative;
    }

    &-google {
        background-image: url('../../images/icon-google.png');
        background-position: center center;
        background-repeat: no-repeat;
        width: 44px;
        height: 42px;
        @extend .icon-align
    }

    &-twitter {
        background-image: url('../../images/icon-twitter.png');
        background-position: center center;
        background-repeat: no-repeat;
        width: 52px;
        height: 42px;
        @extend .icon-align
    }

    &-youtube {
        background-image: url('../../images/icon-youtube.png');
        background-position: center center;
        background-repeat: no-repeat;
        width: 60;
        height: 42px;
        @extend .icon-align
    }

    &-instagram {
        background-image: url('../../images/icon-instagram.png');
        background-position: center center;
        background-repeat: no-repeat;
        width: 42px;
        height: 42px;
        @extend .icon-align
    }

    &-facebook {
        background-image: url('../../images/icon-facebook.png');
        background-position: center center;
        background-repeat: no-repeat;
        width: 25px;
        height: 42px;
        display: block;
        position: relative;
        margin: 0 auto;
        top: 235px;
    }

    &-tel {
        background-image: url('../../images/icon-tel.png');
        background-position: center center;
        background-repeat: no-repeat;
        width: 18px;
        height: 18px;
        margin: 0 auto;
    }

    &-email {
        background-image: url('../../images/icon-email.png');
        background-position: center center;
        background-repeat: no-repeat;
        width: 18px;
        height: 13px;
        margin: 0 auto;
    }

    &-tag {
        background-image: url('../../images/icon-tag.png');
        background-position: center center;
        background-repeat: no-repeat;
        width: 12px;
        height: 16px;
        display: inline-block;
        position: relative;
        top: 2px;
    }

    &-calendar {
        background-image: url('../../images/icon-calendar.png');
        background-position: center center;
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        display: inline-block;
        position: relative;
        top: 2px;
    }

    &-comments {
        background-image: url('../../images/icon-comments.png');
        background-position: center center;
        background-repeat: no-repeat;
        width: 21px;
        height: 16px;
        display: inline-block;
        position: relative;
        top: 2px;
    }

    &-email-newsletter {
        background-image: url('../../images/icon-email-newsletter.png');
        background-position: center center;
        background-repeat: no-repeat;
        width: 20px;
        height: 14px;
        display: inline-block;
        position: absolute;
        top: 17px;
        right: 42.3%;

        @media (max-width: 991px) {
            right: 15px;
        }
    }
}

.icon-align {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 85px;
}

.social__links {
    li {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }
    
    i {
        position: inherit;
        background-size: 50%;
        
    }
}