.principal-events {
    padding: 80px 0;

    .events-type {
        &__label {
            float: left;
            font-size: 18px;
            font-weight: 300;
            margin-right: 15px;
            text-transform: uppercase;
        }

        &__itemlist {
            float: left;
            font-size: 16px;
            font-weight: 600;
            margin-right: 15px;
            margin-bottom: 40px;
            text-transform: uppercase;
            
            
            a {
                color: #999999;
                padding: 10px 30px;
                
                border: 1px solid transparent;

                &:hover {
                    border-color: #34A7DF;
                    color: #34A7DF;
                }
            }
 
            @include transition(all 0.3s);

            &--active {
                a {
                    color: #34A7DF;
                    border-color: #34A7DF;
                }

            }

            
        }
    }

    .event__description {
    	margin-top: 70px;

        .event-description {
            &__image {
                float: left;
                margin-right: 2.5%;
            }

            &__title {
                font-size: 30px;
                font-weight: 300;
                line-height: 36px;
                margin: 0 0 65px;
                color: #191919;
            }

            &__description {
                font-size: 16px;
                line-height: 1.7;
                color: #666666;
            }
        }
    }

    .event__featured-types {

    	margin-top: 75px;

        .event-featured-types__block {
            padding: 30px 35px;
            border: 1px solid #1C1C1C;
            font-family: $secondaryFont;

            &.block-1 {
                .event-featured {
                    &__title {
                        width: 55%;
                    }
                }
            }

            &.block-2 {
                .event-featured {
                    &__title {}
                }
            }

            .event-featured {
                &__title {
                    font-size: 25px;
                    font-weight: 300;
                    text-align: center;
                    margin: 0 auto 45px;
                    font-family: $secondaryFont;
                }

                &__subtitle {
                    font-size: 16px;
                    line-height: 1.8;
                    text-align: center;
                }
            }
        }
    }
}