.title {
    letter-spacing: 3px;
    font-size: 28px;
    color: #1B1B1B;
    background-color: #ffffff;
    position: relative;
    display: inline-block;
    padding: 0 5%;
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: uppercase;
    margin-top: 0;

    &.noupper {
        text-transform: unset !important;
        background: transparent;

        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 44px;
            height: 1px;
            background-color: #1B1B1B;
            bottom: 13px;
            right: -20px;
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 44px;
            height: 1px;
            background-color: #1B1B1B;
            bottom: 13px;
            left: 30px;
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        &.blog-title {
            &:before { 
                left: -10px;
            }
            &:after {
                right: -50px;
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        display: block;
        width: 137%;
        height: 1px;
        background-color: #000000;
        bottom: 13px;
        left: 50%;
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    &--white {
        background-color: #34A7DF;
        color: #ffffff;
        
        &::before {
            width: 440px;
            background-color: #ffffff;
        }
    }

    &--single {
        font-size:  34px;
        margin-top: 55px;
        margin-bottom: 45px;

        &:before {
            width: 670px;
        }
    }
}

.title-alt {
    letter-spacing: 3px;
    font-size: 28px;
    color: #ffffff;
    position: relative;
    display: inline-block;
    padding: 0 5%;
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: uppercase;
    margin-top: 0;

    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 44px;
        height: 1px;
        background-color: #ffffff;
        bottom: 13px;
        right: -60px;
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 44px;
        height: 1px;
        background-color: #ffffff;
        bottom: 13px;
        left: -20px;
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    
}

.page-title__title {
    margin-top: 50px;
}